@import "reset_style.scss";
@import "base/func";
@import "fonts/font";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&family=Raleway:wght@400;500;700;800&display=swap');


@import "../css/bootstrap.min.css";
//@import "libs/slick-theme.scss";
@import "libs/slick.scss";

@import "components/header";
@import "components/footer";

