<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <div class="col-8 d-flex">
                    <div class="header__logo d-flex">
                        <a class="header__logo__item" href="#">
                            TOUR-GIUDE
                        </a>
                    </div>
                    <nav class="d-flex align-items-center justify-content-center">
                        <ul class="header__menu" id="menu">
                            <li>
                                <a class=".header__menu__item" href="">Stories</a>
                            </li>
                            <li>
                                <a class=".header__menu__item" href="">Gallery</a>
                            </li>
                            <li>
                                <a class=".header__menu__item" href="">Features</a>
                            </li>
                            <li>
                                <a class=".header__menu__item" href="">Write to us</a>
                            </li>
                            <div class="header__social__mobile" id="menu">
                                <a class="header__social__item" href="https://twitter.com/?lang=ru"><img src="../icons/twitter-128.png" alt=""></a>
                                <a class="header__social__item" href="https://www.facebook.com/"><img src="../icons/facebook-128.png" alt=""></a>
                                <a class="header__social__item" href="https://www.instagram.com/"><img src="../icons/instagram-2-128.png" alt=""></a>
                                <a class="header__social__item" href="https://www.youtube.com/"><img src="../icons/youtube-128.png" alt=""></a>
                                <a class="header__social__item" href="https://mail.google.com/"><img src="../icons/gmail-128.png" alt=""></a>
                            </div>
                        </ul>
                    </nav>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="header__social" id="menu">
                        <a class="header__social__item" href="https://twitter.com/?lang=ru"><img src="../icons/twitter-128.png" alt=""></a>
                        <a class="header__social__item" href="https://www.facebook.com/"><img src="../icons/facebook-128.png" alt=""></a>
                        <a class="header__social__item" href="https://www.instagram.com/"><img src="../icons/instagram-2-128.png" alt=""></a>
                        <a class="header__social__item" href="https://www.youtube.com/"><img src="../icons/youtube-128.png" alt=""></a>
                        <a class="header__social__item" href="https://mail.google.com/"><img src="../icons/gmail-128.png" alt=""></a>
                    </div>
                    <div class="header__mobile" id="hamb">
                        <span class="header__mobile__line1"></span>
                        <span></span>
                        <span class="header__mobile__line2"></span>
                    </div>
                    <div class="popup" id="popup"></div>
                </div>
            </div>
        </div>
    </div>
</header>